@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

@font-face {
    font-family: 'bageo';
    src: url('../webfonts/Bageo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bageo-alt';
    src: url('../webfonts/Bageo_Alternates.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{
	color: #0C2461;;
	background: white;
	font-family: 'bageo', 'Inter', sans-serif;
	font-size: 5vw;
	font-weight: 400;
	text-align:center;
}
.streamCanvas
{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(0deg, rgba(250, 211, 144, 0.5), rgba(250, 211, 144, 0.25)), url(../img/charles-deluvio-0v_1TPz1uXw-unsplash.jpg);
	background-position: center center;
	background-size: cover;

	animation: fadeIn 2s 0.5s backwards;
}
.textContainer
{
	width:fit-content;
	padding: 3vw;
	display: inline-block;
}
.textTitle
{
	display: inline-block;
	font-family: 'bageo-alt', 'Inter', sans-serif;
	font-weight: 900;
	letter-spacing: 0.25em;
	margin-bottom: 2vh;

	animation: fadeIn 2s 2.0s backwards;
}
.socialContainer
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size:0.4em;
	animation: fadeIn 2s 2.25s backwards;
}
.textSocial
{
	color: #079992;
	letter-spacing: 0.1em;
	margin: 0 1vw;
	text-transform: uppercase;
}

@keyframes fadeIn
{
	from
	{
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}